<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <h1 class="flex-1 px-4 truncate">Órdenes</h1>

        <a href="javascript:;" id="mobile-menu-toggler">
            <svg class="feather w-8 h-8 text-white"><use xlink:href="/build/images/feather-sprite.svg?v1633506637#menu"></use></svg>        </a>
    </div>

    <ul class="border-t hidden">
        <li>
    <a href="" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#home"></use></svg></div>
        <div class="menu__title">Dashboard</div>
    </a>
</li>

<li>
    <a href="javascript:;" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#book-open"></use></svg></div>
        <div class="menu__title">
            Carteras <div class="menu__sub-icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#chevron-down"></use></svg></div>
        </div>
    </a>

    <ul class="">
        <li>
            <a href="/wallet" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#list"></use></svg> </div>
                <div class="menu__title">Listado</div>
            </a>
        </li>
        <li>
            <a href="/wallet/simulator" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#activity"></use></svg> </div>
                <div class="menu__title">Simulador</div>
            </a>
        </li>
    </ul>
</li>

<li>
    <a href="javascript:;" class="menu menu--active">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#shuffle"></use></svg></div>
        <div class="menu__title">
            Órdenes <div class="menu__sub-icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#chevron-down"></use></svg></div>
        </div>
    </a>

    <ul class="menu__sub-open">
        <li>
            <a href="/order" class="menu menu--active">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#list"></use></svg> </div>
                <div class="menu__title">Listado</div>
            </a>
        </li>
        <li>
            <a href="/order/status" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#bar-chart-2"></use></svg> </div>
                <div class="menu__title">Estado</div>
            </a>
        </li>
        <li>
            <a href="/order/sync" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#refresh-cw"></use></svg> </div>
                <div class="menu__title">Sincronizar</div>
            </a>
        </li>
    </ul>
</li>

<li>
    <a href="javascript:;" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#trello"></use></svg></div>
        <div class="menu__title">
            Previsión <div class="menu__sub-icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#chevron-down"></use></svg></div>
        </div>
    </a>

    <ul class="">
        <li>
            <a href="/forecast" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#list"></use></svg> </div>
                <div class="menu__title">Actuales</div>
            </a>
        </li>
        <li>
            <a href="/forecast/future" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#compass"></use></svg> </div>
                <div class="menu__title">Futuro</div>
            </a>
        </li>
    </ul>
</li>

<li>
    <a href="/exchange" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#bar-chart"></use></svg></div>
        <div class="menu__title">Mercado</div>
    </a>
</li>

<li>
    <a href="/ticker" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#bookmark"></use></svg></div>
        <div class="menu__title">Tickers</div>
    </a>
</li>

<li>
    <a href="/product" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#box"></use></svg></div>
        <div class="menu__title">Productos</div>
    </a>
</li>

<li>
    <a href="/sync" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#refresh-cw"></use></svg></div>
        <div class="menu__title">Sincronizar</div>
    </a>
</li>

<li>
    <a href="/user/update" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#user"></use></svg></div>
        <div class="menu__title">Perfil</div>
    </a>
</li>

<li>
    <a href="/user/update/platform" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#key"></use></svg></div>
        <div class="menu__title">Cuentas</div>
    </a>
</li>


<li>
    <a href="/user" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#users"></use></svg></div>
        <div class="menu__title">Usuarios</div>
    </a>
</li>


<li>
    <a href="javascript:;" class="menu ">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#activity"></use></svg></div>
        <div class="menu__title">
            Monitor <div class="menu__sub-icon "><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#chevron-down"></use></svg></div>
        </div>
    </a>

    <ul class="">
        <li>
            <a href="/monitor" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#server"></use></svg></div>
                <div class="menu__title">Sistema</div>
            </a>
        </li>

        <li>
            <a href="/monitor/installation" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#check-circle"></use></svg></div>
                <div class="menu__title">Instalación</div>
            </a>
        </li>

        <li>
            <a href="/monitor/database" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#database"></use></svg></div>
                <div class="menu__title">Base de Datos</div>
            </a>
        </li>

        <li>
            <a href="/monitor/log" class="menu ">
                <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#file-text"></use></svg></div>
                <div class="menu__title">Registros</div>
            </a>
        </li>
    </ul>
</li>


<li>
    <a href="/user/logout" class="menu">
        <div class="menu__icon"><svg class="feather "><use xlink:href="/build/images/feather-sprite.svg?v1633506637#toggle-right"></use></svg></div>
        <div class="menu__title">Salir</div>
    </a>
</li>

    </ul>
</div>
